.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $c-VeryLightGray;

  h2 {
    font-size: 0.8rem;
    color: $c-DarkGrayishViolet;
    margin: 1.5rem 0;
  }
  li {
    margin: 0 0 0.5rem 0;
  }
  a {
    font-size: 0.8rem;
    font-weight: 700;
    color: $c-DarkViolet;
    transition: color 0.2s;
  }
  a:hover {
    text-decoration: underline;
  }
}
.bg-pattern-footer-mobile {
  position: absolute;
  width: 100%;
  img {
    width: 100%;
  }
}
.bg-pattern-footer-desktop {
  display: none;
}
.social-media {
  margin: 5.5rem 0 0 0;
  z-index: 1;

  ul {
    display: flex;
    margin: 2rem 0 5rem 0;
    align-items: center;

    a {
      margin: 0 0.5rem;
    }
  }
  i {
    font-size: 1.6rem;
    color: $c-DarkGrayishViolet;
    transition: color 0.2s;
  }
  i:hover {
    color: $c-DarkViolet;
  }
}
.others {
  margin: 0 0 4rem 0;
}

@include desktop {
  .bg-pattern-footer-mobile {
    display: none;
  }
  .bg-pattern-footer-desktop {
    display: block;
    position: absolute;
    left: 0;
  }
  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 3.5rem 0;
    ul {
      margin: 0;
    }
    li {
      margin: 0;
    }
  }
  .link-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .company {
    z-index: 1;
  }
  .help {
    z-index: 1;
  }
}
