$c-DarkViolet: hsl(270, 9%, 17%);
$c-GrayishBlue: hsl(216, 30%, 68%);
$c-VeryDarkViolet: hsl(270, 9%, 17%);
$c-DarkGrayishViolet: hsl(273, 4%, 51%);
$c-VeryLightGray: hsl(0, 0%, 98%);

$f-karla: "Karla";
$f-dmSarif: "DM Serif Display";

$bp-desktop: 768px;
